{% extends 'travel_wishlist/base.html' %}
{% block content %}

<h2>Travel Wishlist</h2>

<form method="POST" action="{% url 'place_list' %}"> <!--using url reversing. Url paths in templates are no good because they are always changing and it would be tedious to change everything.-->
    {% csrf_token %} <!-- cross sites request forgery token-->
    {{ new_place_form }} <!-- Gets form-->
    <button id="add-new-place" type="submit">Add</button>
</form>


{% for place in places %} <!-- for loop going through list of places-->

<div class="wishlist-place">
    <span class="place-name">{{ place.name }}</span>

    <form class="visit-form" method="POST" action="{% url 'place_was_visited' place.pk %}">
        {% csrf_token %}
        <button>Visited!</button>
    </form>
</div>

{% empty %} <!-- if places list is empty display the bottom html-->

<p>You have no places in your wishlist.</p>

{% endfor %} <!-- endfor directive-->

{% endblock %}